# 环境依赖
node_modules/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# IDE和编辑器
app/.vscode/
app/.augment/
app/.cursor/
.claude/
.idea/
*.swp
*.swo
*~
.DS_Store

# 日志文件
*.log

# 环境变量文件
.env
.env.local
.env.test
.env.*.local
.env.example
.env.test.example
app/backend/.env.example
app/backend/.env
app/backend/.env.local
app/backend/.env.test


# 数据库文件
*.db
*.sqlite
*.sqlite3
prisma/migrations/

# 临时文件
*.tmp
tmp/

# 测试覆盖率
coverage/
.nyc_output/

# 忽略整个目录
docs/
tests/
backups/
scripts/
templates/
test_data/
app/backend/src/tools/
build_images/sdcgen/
build_images/upfgen/



# 忽略docker大文件但保留目录结构
docker/images/sdc/logiccore_sdc*
docker/images/upf/logiccore_upf*
docker/volumes/

# OSS下载缓存
/opt/logiccore/temp/

# Docker相关
app/docker-compose.yml
app/docker-compose.prod.yml


